<div class="container" fxLayout="column" fxLayoutGap="1rem" fxLayoutAllign="space-around">
    <div *ngIf="this.currentuser">
        <h1>Herzlich Willkommen <span> {{this.currentuser.anrede?this.currentuser.anrede+" "+this.currentuser.lastname:"" }}</span></h1>        
        <p>Sie sind angemeldet und haben Zugriff auf alle verfügbaren Informationen.</p>
    </div>
    <div *ngIf="!this.currentuser">
        <h1>Dashboard</h1>
        <p>Dieses Dashboard ist ein Informationsportal zur Information zu einem wichtigen Thema. Nicht alle Informationen stehen für die Öffentlichkeit zur Verfügung. Berechtigte Benutzer*innen haben die Möglichkeit sich anzumelden, um Zugriff auf erweiterte Funktionen zu erhalten.</p>
    </div>


    <div *ngIf="this.metadata.length>0">
        <h1>Auswahl</h1>
        <h3><strong>Regionen</strong></h3>
        <p>
            <mat-chip-list>
                <mat-chip (click)="this.setlevel('levelvalues',item);" *ngFor="let item of this.levelvalues"
                    [selected]="(this.levelsettings['levelvalues']==item)" color="primary"
                    [disabled]="this.levelsettings['subgroups']!='Keine'">
                    {{item}}<span *ngIf="this.geojson_available.indexOf(item)>=0"><mat-icon class="primarycolor flagicon">map</mat-icon></span>
                </mat-chip>
            </mat-chip-list>
        </p>
        <ng-container>
            <h3><strong>Subgruppen</strong></h3>
            <p>
                <mat-chip-list>
                    <mat-chip-list>
                        <ng-container *ngFor="let item of this.subgroups">
                            <mat-chip (click)="this.setlevel('subgroups',item);"
                                [disabled]="this.levelsettings['levelvalues']!==this.levelvalues[0]"
                                [selected]="(this.levelsettings['subgroups']==item)" color="primary">
                                {{item}}
                            </mat-chip>
                        </ng-container>
                    </mat-chip-list>
                </mat-chip-list>
            </p>
        </ng-container>
        <h3><strong>Outcomes</strong></h3>
        <p>
            <mat-chip-list>
                <mat-chip-list>
                    <mat-chip (click)="this.setlevel('outcomes',item);" *ngFor="let item of this.outcomes"
                        [selected]="(this.levelsettings['outcomes']==item)" color="primary">
                        {{item}}
                    </mat-chip>
                </mat-chip-list>
            </mat-chip-list>
        </p>
        <h3><strong>Determinanten</strong></h3>
        <p>
            <mat-chip-list>
                <mat-chip-list>
                    <mat-chip (click)="this.setlevel('outcomes',item);" *ngFor="let item of this.determinants"
                        [selected]="(this.levelsettings['outcomes']==item)" color="primary">
                        {{item}}
                    </mat-chip>
                </mat-chip-list>
            </mat-chip-list>
        </p>
    </div>
    <div *ngIf="this.data && this.mapdata" >
        <h1>Ergebnisse</h1>
        <p *ngIf="(this.levelsettings['levelvalues']!==this.levelvalues[0]) && this.mapdata && this.data">
            Karte
            <app-map [containername]="'mapdiv'" [data]="this.data" [basemap]="this.mapdata" [bins]="5"
            [id]="'RG_label'"
            opacity=.8 Zoom=10 [center]="[50.938056, 6.956944]"
            [colorscale]="this.colorsscheme" [percent]="true"
            [feature]="this.levelsettings['outcomes']"></app-map>
        </p>
        <p >
            <app-table [data]="this.data" [columns]="this.datakeys" [outcomes_rate]="this.data_rate" 
            [outcomes_numeric]="this.data_number"></app-table>

        </p>
    </div>
</div>