<div class="container" fxLayout="column" fxLayoutGap="1rem" fxLayoutAllign="space-around">
    <div>
        <p *ngIf="this.currentuser" class="mat-caption right">
            Angemeldet als <span> {{this.currentuser.anrede?this.currentuser.anrede+"
                "+this.currentuser.lastname:"" }}</span></p>
        <div class="brandingpicture" [ngClass]="{'smallheader': this.currentuser}">
            <h1>Kleinräumige GBE der Stadt Köln</h1>
        </div>
        <p *ngIf="!this.currentuser">
            Dieses Dashboard ist ein internes Informationsportal zur gesundheitlichen Lage der Bevölkerung Kölns. Bitte
            melden
            Sie sich an, um Zugriff auf die enthaltenen Informationen zu erhalten.</p>
        <p *ngIf="this.metadata.length==0 && !this.currentuser && !this.progress">
            Es sind aktuell keine öffentlichen Informationen auf diesem Portal verfügbar.
        </p>
        <p *ngIf="(this.metadata.length==0) && this.currentuser && !this.progress">
            Es sind keine Daten im System, bitte wenden Sie sich an einen Administrator.
        </p>
    </div>

    <div *ngIf="this.progress">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="this.metadata && !this.progress">
        <ng-container *ngIf="!(this.metadata.length>0 && this.levelvalues.length>0)">
            <mat-progress></mat-progress>
        </ng-container>
        <ng-container *ngIf="this.metadata.length>0 && this.levelvalues.length>0">
            <p fxHide=false fxShow.gt-sm=false>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Outcome</mat-label>
                    <mat-select [(value)]="this.levelsettings['outcomes']"
                        (selectionChange)="this.setlevel('outcomes',this.levelsettings['outcomes']);">
                        <mat-option value="">Keine Auswahl</mat-option><br>
                        <ng-container *ngFor="let item of this.outcomes">
                            <mat-option [value]="item"><strong> {{item | replace : '[_]' : '.' }}</strong></mat-option>
                            <br>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </p>
            <div fxHide=true fxShow.gt-sm=true>
                <h3>Themenbereich</h3>
                <p>
                    <mat-chip-list>
                        <mat-chip-list>
                            <mat-chip (click)="this.outcomeart=item;"
                                *ngFor="let item of ['Inanspruchnahme','M1Q','M2Q','Einflussfaktoren']"
                                [selected]="this.outcomeart==item" color="primary">
                                <span *ngIf="item=='M1Q'|| item=='M2Q'">Prävalenz </span>&nbsp; {{item}}
                            </mat-chip>
                        </mat-chip-list>
                    </mat-chip-list>
                </p>
                <h3>Indikator</h3>
                <p>
                    <ng-container *ngIf="this.outcomeart==='Inanspruchnahme'">
                        <mat-chip-list>
                            <mat-chip-list>
                                <mat-chip (click)="this.setlevel('outcomes',item);"
                                    *ngFor="let item of this.outcomes_util"
                                    [selected]="(this.levelsettings['outcomes']==item)" color="primary">
                                    {{item.replace('Anteil Patienten mit','') | replace : '[_]' : '.'}}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-chip-list>
                    </ng-container>
                    <ng-container *ngIf="this.outcomeart==='M1Q'">
                        <mat-chip-list>
                            <mat-chip-list>
                                <mat-chip (click)="this.setlevel('outcomes',item);"
                                    *ngFor="let item of this.outcomes_m1q"
                                    [selected]="(this.levelsettings['outcomes']==item)" color="primary">
                                    {{item.replace(' M1Q','').replace('Prävalenz von','').replace('Prävalenz der','') |
                                    replace : '[_]' : '.' }}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-chip-list>
                    </ng-container>
                    <ng-container *ngIf="this.outcomeart==='M2Q'">
                        <mat-chip-list>
                            <mat-chip-list>
                                <mat-chip (click)="this.setlevel('outcomes',item);"
                                    *ngFor="let item of this.outcomes_m2q"
                                    [selected]="(this.levelsettings['outcomes']==item)" color="primary">
                                    {{item.replace(' M2Q','').replace('Prävalenz von','').replace('Prävalenz der','') |
                                    replace : '[_]' : '.' }}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-chip-list>
                    </ng-container>
                    <ng-container *ngIf="this.outcomeart==='Einflussfaktoren'">
                        <mat-chip-list>
                            <mat-chip-list>
                                <mat-chip (click)="this.setlevel('outcomes',item);"
                                    *ngFor="let item of this.determinants"
                                    [selected]="(this.levelsettings['outcomes']==item)" color="primary">
                                    {{item.replace(' M2Q','').replace('Prävalenz von','').replace('Prävalenz der','') |
                                    replace : '[_]' : '.' }}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-chip-list>
                    </ng-container>
                </p>
            </div>
        </ng-container>
    </div>
    <ng-container *ngIf="this.data && this.metadata">
    <div *ngIf="this.data.length==0 && this.metadata.length>0" fxLayout="column">
        <p>Keine Daten</p>
        <p><a mat-raised-button color="primary" href="/">Auswahl zurücksetzen</a></p>
    </div>
    </ng-container>
    <div *ngIf="this.data_overall ||  this.data" fxLayout="column">
        <h1>Ergebnisse</h1>      
        <h2 *ngIf="this.data_age_sex && this.data_overall"><strong>Allgemeine Informationen</strong></h2>
        <div fxFlex=100 fxLayout="row wrap" fxLayoutGap="1rem">

            <div fxFlex=50 fxFlex.lt-md=100 *ngIf="this.data_overall">

                <ng-container *ngIf="this.outcomeinfo['type']=='number' && this.data_overall>=0">
                    <app-box [value]="this.data_overall" [maincolor]="'#D7191C'"
                        [description]="this.outcomeinfo['varname']"></app-box>
                </ng-container>
                <ng-container *ngIf="this.outcomeinfo['type']=='rate' && this.data_overall>=0">
                    <app-box [value]="this.data_overall" [title]="'%'" [maincolor]="'#D7191C'" [textbehind]="true"
                        [description]="this.outcomeinfo['varname']"></app-box>
                </ng-container>

            </div>
            <div fxFlex fxFlex.lt-md=100 *ngIf="this.outcomeinfo['description']">
                <mat-card class="descriptioncontainer" >
                    <mat-card-content>{{this.outcomeinfo['description']}}</mat-card-content>
                </mat-card>
            </div>
            <div fxFlex=100 *ngIf="this.data_age_sex && this.data_overall">
                <mat-card *ngIf="this.data_age_sex.length>0">
                    <h2>Alters- und Geschlechtsunterschiede</h2>
                    <app-plot  [data]="this.data_age_sex" [outcomes]="[this.outcomeinfo['varname']]"
                        [xvalue]="'sg.Altersgruppe'" [percent]="this.outcomeinfo['type']=='rate'" [colorby]="'sg.Geschlecht'" plottype="bar"
                        [colorscheme]="['#D7191C','#2c7bb6']"></app-plot>
                </mat-card>
            </div>


        </div>

        <div>
            <h2><strong>Regionale Unterschiede</strong></h2>
            <h4>Raumeinheit</h4>
            <p>
                <mat-chip-list>
                    <mat-chip (click)="this.setlevel('levelvalues',item);" *ngFor="let item of this.levelvalues"
                        [selected]="(this.levelsettings['levelvalues']==item)" color="primary"
                        [disabled]="this.levelsettings['subgroups']!='Keine'">
                        {{item}}<span *ngIf="this.geojson_available.indexOf(item)>=0">
                            <mat-icon class="primarycolor flagicon">map</mat-icon>
                        </span>
                    </mat-chip>
                </mat-chip-list>
            </p>
            <h4>Filterung</h4>
            <ng-container>
                <p>
                    <mat-chip-list>
                        <mat-chip-list>
                            <ng-container *ngFor="let item of ['Gesamt','Detailliert']">
                                <mat-chip (click)="this.setlevel('subgroupresolution',item);"
                                    [selected]="(this.levelsettings['subgroupresolution']==item)" color="primary">
                                    {{item}}
                                </mat-chip>
                            </ng-container>
                        </mat-chip-list>
                    </mat-chip-list>
                </p>
            </ng-container>
            <ng-container *ngIf="this.levelsettings['subgroupresolution']=='Detailliert'">
                <h4>Geschlecht</h4>
                <p>
                    <mat-chip-list>
                        <mat-chip-list>
                            <ng-container *ngFor="let item of ['Gesamt','Männer','Frauen']">
                                <mat-chip (click)="this.setlevel('subgroup_gender',item);"
                                    [selected]="(this.levelsettings['subgroup_gender']==item)" color="primary">
                                    {{item}}
                                </mat-chip>
                            </ng-container>
                        </mat-chip-list>
                    </mat-chip-list>
                </p>
            </ng-container>
            <ng-container *ngIf="this.levelsettings['subgroupresolution']=='Detailliert'">
                <h4>Alterseinteilung</h4>
                <p>
                    <mat-chip-list>
                        <mat-chip-list>
                            <ng-container *ngFor="let item of this.altergruppenid_options">
                                <mat-chip (click)="this.setlevel('subgroup_agegrpid',item['sg.Altersgruppe_ID']);"
                                    [selected]="(this.levelsettings['subgroup_agegrpid']==item['sg.Altersgruppe_ID'])"
                                    color="primary">
                                    {{item['label']}}
                                </mat-chip>
                            </ng-container>
                        </mat-chip-list>
                    </mat-chip-list>
                </p>
            </ng-container>
            <ng-container
                *ngIf="this.levelsettings['subgroupresolution']=='Detailliert' && this.levelsettings['subgroup_agegrpid']>0">
                <h4>Alter</h4>
                <p>
                    <mat-chip-list>
                        <mat-chip-list>
                            <ng-container *ngFor="let item of this.altergruppenid_ageoptions">
                                <mat-chip (click)="this.setlevel('subgroup_agegrpid_agevalue',item['sg.Altersgruppe']);"
                                    [selected]="(this.levelsettings['subgroup_agegrpid_agevalue']==item['sg.Altersgruppe'])"
                                    color="primary">
                                    {{item['sg.Altersgruppe']}}
                                </mat-chip>
                            </ng-container>
                        </mat-chip-list>
                    </mat-chip-list>
                </p>
            </ng-container>

            <div class="minheight"
                *ngIf="(this.levelsettings['levelvalues']=='Stadtbezirke') && this.mapdata_stadtbezirke && this.data && this.levelid">
                <mat-card class="no-padding">
                    <app-map *ngIf="this.mapdata_stadtbezirke['features'] && this.data.length>0" 
                        [containername]="'mapdiv'" [binmethod]="'equalgroupsize'" [data]="this.data"
                        [containername]="'mapdata_stadtbezirke'" [basemap]="this.mapdata_stadtbezirke" [bins]="3"
                        [id]="this.levelid" opacity=.8 Zoom=10 [center]="[50.94380474348729, 6.9669503454676125]"
                        [colorscale]="['#2c7bb6','#ffffbf','#D7191C']" [percent]="this.outcomeinfo['type']=='rate'"
                        [feature]="this.levelsettings['outcomes']"></app-map>
                </mat-card>
            </div>
            <div class="minheight"
                *ngIf="(this.levelsettings['levelvalues']=='Stadtteile') && this.mapdata_stadtteile && this.data && this.levelid">
                <mat-card class="no-padding">
                    <app-map *ngIf="this.mapdata_stadtteile['features'] && this.data.length>0" 
                        [containername]="'mapdiv'" [binmethod]="'equalgroupsize'" [data]="this.data"
                        [containername]="'mapdata_stadtteile'" [basemap]="this.mapdata_stadtteile" [bins]="5"
                        [id]="this.levelid" opacity=.8 Zoom=10 [center]="[50.94380474348729, 6.9669503454676125]"
                        [colorscale]="['#2c7bb6','#abd9e9','#ffffbf','#fdae61','#D7191C']" [percent]="this.outcomeinfo['type']=='rate'"
                        [feature]="this.levelsettings['outcomes']"></app-map>
                </mat-card>
            </div>
              <div class="minheight"
                *ngIf="(this.levelsettings['levelvalues']=='Statistische Quartiere') && this.mapdata_statistischequartiere && this.data && this.levelid">
                <mat-card class="no-padding">
                    <app-map *ngIf="this.mapdata_statistischequartiere['features'] && this.data.length>0" 
                        [containername]="'mapdiv'" [binmethod]="'equalgroupsize'" [data]="this.data"
                        [containername]="'mapdata_statistischequartiere'" [basemap]="this.mapdata_statistischequartiere" [bins]="5"
                        [id]="this.levelid" opacity=.8 Zoom=10 [center]="[50.94380474348729, 6.9669503454676125]"
                        [colorscale]="['#2c7bb6','#abd9e9','#ffffbf','#fdae61','#D7191C']" [percent]="this.outcomeinfo['type']=='rate'"
                        [feature]="this.levelsettings['outcomes']"></app-map>
                </mat-card>
            </div> 
            
            <div class="minheight"
            *ngIf="(this.levelsettings['levelvalues']=='Sozialräume') && this.mapdata_sozialraum && this.data && this.levelid">
            <mat-card class="no-padding">
                <app-map *ngIf="this.mapdata_sozialraum['features'] && this.data.length>0" 
                    [containername]="'mapdiv'" [binmethod]="'equalgroupsize'" [data]="this.data"
                    [containername]="'mapdata_stadtteile'" [basemap]="this.mapdata_sozialraum" [bins]="3"
                    [id]="this.levelid" opacity=.8 Zoom=10 [center]="[50.94380474348729, 6.9669503454676125]"
                    [colorscale]="['#2c7bb6','#ffffbf','#D7191C']" [percent]="this.outcomeinfo['type']=='rate'"
                    [feature]="this.levelsettings['outcomes']"></app-map>
            </mat-card>
        </div> 
        <ng-container *ngIf="this.data">
        
            <div class="minheight" *ngIf="this.levelsettings['levelvalues']!=='Gesamt' && this.data.length>0 " >
                <mat-card>
                    <h2>Rangfolge der Regionen</h2>
                    <app-plot [(data)]="this.data" [custommargins]="{ l: 0, r: 40, b: 150, t: 0 }"
                        [xvalue]="this.levelid" [percent]="this.outcomeinfo['type']=='rate'" [sort]="true"
                        [outcomes]="[this.levelsettings['outcomes']]"
                        [colorscheme]="['#D7191C','#fdae61','#ffffbf','#abd9e9','#2c7bb6']" plottype="bar"></app-plot>
                </mat-card>
            </div>
            <div class="minheight" *ngIf="this.data.length>0">
                <mat-card>
                    <h2>Regionssuche</h2>
                    <app-table [data]="this.data" [columns]="this.datakeys" [addrank]="true"
                        [outcomes_rate]="this.data_rate" [addfilter]="true" [outcomes_numeric]="this.data_number">
                    </app-table>
                </mat-card>
            </div>
            <div class="minheight" *ngIf="this.data.length==0">
                <p>Keine Daten zur Auswahl</p>
            </div>
        </ng-container>
        </div>
    </div>

</div>