.box {
    background-color: #2b2b2b;
}


.flagicon {
    font-size: .8rem;
    padding-left: .1rem;
    padding-bottom: .3rem;
}

.brandingpicture {
    border-radius: 20px;
    background-size: cover;
    margin: -2em;
    margin-bottom: 2em;
    margin-top: 1em;
    padding: 2em;
    filter: contrast(1.3);
    filter: grayscale(1) ;
    min-height: 200px;
    color:white;
    background-image: url('./../../../assets/branding/pexels-pixabay-356357.jpg');
  }

  .smallheader {
    color:inherit;
    padding: 0px;
    background-image:none;
    min-height: 0px;
    margin:0px;
  }

  .right {
      text-align: right;
  }

 .minheight {
    min-height: 450px;
    margin-bottom: 2rem;
}