<div class="container" fxLayout="column" fxLayoutGap="1rem">
    <h1 ngClass.lt-sm="mobileheading">Administration</h1>
    <p *ngIf="this.backenddoc" class="mat-caption greycolor"> Frontend Version: {{this.appversion}}, Backend Version:
        {{this.backenddoc['info']['version']}}</p>
    <div *ngIf="!this.adduser && !this.adddata" fxLayout="row wrap" fxLayoutGap="1rem"
        fxLayoutAlign="start space-between">
        <div fxFlex=100>
            <p class="mat-caption greycolor">In diesem Bereich können Dashboard Administratoren ("Admin") und
                Zi-Administratoren ("Superadmin") Daten oder Nutzer*innen hinzufügen.</p>
        </div>
        <div>
            <button mat-raised-button (click)="this.adduser=!this.adduser" color="primary">Nutzer hinzufügen</button>
        </div>
        <div>
            <button mat-raised-button (click)="this.adddata=!this.adddata" color="primary">Daten</button>
        </div>

    </div>

    <!-- Nutzerrechte ändern-->
    <div *ngIf="!this.adduser && !this.adddata &&  this.currentuser['is_superadmin']">
        <h2>Nutzerliste</h2>
        <p class="mat-caption greycolor">In diesem Bereich können Nutzerberechtigungen geändert werden.</p>
        <mat-list>
            <ng-container *ngFor="let user of this.users">
                <mat-list-item>
                    <mat-icon color="primary" fxHide.lt-md=true *ngIf="user['roles'].indexOf('superadmin')>=0"
                        mat-list-icon>admin_panel_settings
                    </mat-icon>
                    <mat-icon fxHide.lt-md=true *ngIf="user['roles'].indexOf('superadmin')<0" mat-list-icon>
                        account_circle</mat-icon>
                    <div mat-line><strong>{{!user.lastname? 'k.A.': user.anrede+" "+user.lastname }} </strong>
                        ({{user.email
                        }})
                        <a *ngIf="this.currentuser['is_superadmin']" (click)="user.stammdaten=!user.stammdaten"> ></a>
                    </div>
                    <div mat-line>
                        <mat-chip-list *ngIf="!user.stammdaten">
                            <mat-chip color="primary" (click)="this.updateuser(user.email,'user',!user['is_user'])"
                                [selected]="user['is_user']">User</mat-chip>
                            <mat-chip color="primary" (click)="this.updateuser(user.email,'admin',!user['is_admin'])"
                                [selected]="user['is_admin']">Admin</mat-chip>
                            <mat-chip color="primary"
                                (click)="this.updateuser(user.email,'superadmin',!user['is_superadmin'])"
                                [selected]="user['is_superadmin']">Superadmin</mat-chip>
                        </mat-chip-list>
                        <div *ngIf="user.stammdaten" mat-line>
                            <span style="color: lightgray;">Nur für Admins</span>
                            <mat-chip-list class="add-margin" *ngIf="user.stammdaten">
                                <mat-chip *ngIf="!user.chpwd" color="primary" (click)="this.deletuser(user.email)"
                                    selected>löschen</mat-chip>
                                <mat-chip *ngIf="!user.chpwd" color="accent"
                                    (click)="user.chpwd=!user.chpwd;user.rndpwd=this.rndpwd();" selected>password
                                    zurücksetzen</mat-chip>
                                <div class="add-margin" *ngIf="user.chpwd">
                                    <p>Neues Password:</p>
                                    <p><strong>{{user.rndpwd}}</strong> <a class="add-margin"
                                            (click)="this.copy(user.rndpwd)">
                                            <mat-icon>content_copy</mat-icon>
                                        </a></p>
                                    <p>
                                        <mat-chip color="accent" (click)="user.chpwd=!user.chpwd;" selected>abbrechen
                                        </mat-chip>&nbsp;&nbsp;<mat-chip color="primary"
                                            (click)="chpwd(user.email,user.rndpwd)" selected>passwort setzen</mat-chip>
                                    </p>
                                </div>
                            </mat-chip-list>
                        </div>
                        <div mat-line></div>
                        <div fxHide.gt-sm=true mat-line></div>
                    </div>
                </mat-list-item>
            </ng-container>
        </mat-list>
    </div>
    <!-- Nutzer hinzufügen-->
    <div fxLayout="row wrap" *ngIf="this.adduser">

        <div fxFlex=100>
            <h2><strong>Nutzer hinzufügen</strong></h2>
            <mat-card>
                <form autocomplete="on" [formGroup]="myRegform">
                    <h2><strong>Informationen</strong></h2>
                    <h4><strong>Name</strong>:</h4>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Anrede</mat-label>
                        <mat-select name="anredefeld" formControlName="anrede" required>
                            <mat-option value="Herr">Herr</mat-option><br>
                            <mat-option value="Frau">Frau</mat-option><br>
                            <mat-option value="Frau Dr.">Frau Dr.</mat-option><br>
                            <mat-option value="Herr Dr.">Herr Dr.</mat-option><br>
                            <mat-option value="Dr.">Dr.</mat-option><br>
                            <mat-option value=" ">Kein Anrede</mat-option><br>
                        </mat-select>
                        <mat-error>Bitte wählen Sie eine bevorzugte Anrede für sich</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width" required>
                        <mat-label>Vorname</mat-label>
                        <input matInput placeholder="First name" name="fname" formControlName="firstname">
                        <mat-error>Fehler: Wir benötigen den Vornamen für die Registrierung.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width" required>
                        <mat-label>Nachname</mat-label>
                        <input matInput placeholder="Last Name" name="lname" formControlName="lastname">
                        <mat-error>Fehler: Wir benötigen den Nachnamen für die Registrierung.</mat-error>
                    </mat-form-field>
                    <h4>Initiales <strong>Passwort</strong>:</h4>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Passwort</mat-label>
                        <mat-error>Passwort zu kurz</mat-error>
                        <input matInput type="string" formControlName="password" required>
                        <mat-hint>Bitte kopieren Sie das Passwort</mat-hint>
                        <mat-hint *ngIf="this.myRegform.value.password.length<12">Ihr Passwort (mindestens 12 Zeichen).
                        </mat-hint>
                    </mat-form-field>
                    <br><br><br>
                    <h4><strong>E-Mail</strong> des neuen Nutzers</h4>
                    <mat-form-field appearance="fill" class="full-width">
                        <input matInput type="email" placeholder="Email" formControlName="email">
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error>Die E-Mail-Adresse ist ungültig</mat-error>
                    </mat-form-field>
                </form>
            </mat-card>

        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex=20><button [disabled]="this.myRegform.value.password.length<12" mat-raised-button
                    (click)="this.addusernow();" color="accent">Hinzufügen</button></div>
            <div fxFlex=20><button mat-raised-button (click)="this.adduser=!this.adduser;"
                    color="primary">Abbrechen</button></div>
        </div>

    </div>
    <!-- Daten hinzufügen-->
    <div *ngIf="this.adddata" fxLayout="column" fxLayoutGap="10px">
        <h2><strong>Datenpunkte ergänzen</strong></h2>
        <p *ngIf="this.dataintend=='dataupload'">Sie können keine Datenpunkte für Subgruppen ergänzen. Es können lediglich Regionaldaten ohne Differenzierung nach Alter und Geschlecht hinzugefügt werden.</p>
        <mat-card>
            <div>
                <h3><strong>Was soll hochgeladen werden?</strong></h3>
                <mat-radio-group [(ngModel)]="this.dataintend">
                    <mat-radio-button value="dataupload">Daten hinzufügen&nbsp;&nbsp;</mat-radio-button>
                    <mat-radio-button *ngIf="this.areavalues && this.currentuser['is_superadmin']" value="geodataupload">Geodaten hinzufügen&nbsp;
                    </mat-radio-button>
                </mat-radio-group>
                <br><br>
            </div>
            <div *ngIf="this.dataintend=='geodataupload'" fxLayout="column">
                <div fxFlex=100>
                    <h3><strong>1. GEOJSON Datei hochladen</strong> <span *ngIf="this.geojsonfile">
                            <mat-icon color="primary">check_circle</mat-icon>
                        </span></h3>
                </div>
                <div *ngIf="!this.geojsonfile" fxFlex.lt-md=100 fxFlex=50 fxLayout="column">
                    <div fxFlex=100>
                        <mat-form-field appearance="outline" *ngIf="true">
                            <mat-label>Gebiet für Geodatendatei festlegen</mat-label>
                            <mat-select [(value)]="this.uploadarea">
                                <mat-option *ngFor="let option of this.areavalues" [value]="option">{{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div fxFlex=100>
                        <input type="file" accept='.geojson' style="display: none"
                            (change)="this.changeListenerGEOJSON($event);" #dataInput>
                        <br><br>
                        <button [disabled]="!this.uploadarea" mat-raised-button color="primary"
                            (click)="dataInput.click()">Daten
                            Auswählen</button>
                    </div>

                </div>
                <div *ngIf="this.geojsonfile" fxLayout="column" fxLayoutGap="10px">
                    <div fxFlex=100>
                        <h3><strong>2. GEOJSON beschreiben</strong> <span *ngIf="this.geodatafile">
                                <mat-icon color="primary">check_circle</mat-icon>
                            </span></h3>
                    </div>
                    <div fxFlex=100>
                        <p>Die Datei hat {{this.geojsonfile['features'].length | number}} Regionen.</p>
                        <mat-form-field appearance="outline" *ngIf="true">
                            <mat-label>Wie lautet die Bezeichnung Regionen im geojson?</mat-label>
                            <mat-select [(value)]="this.uploadareaid">
                                <mat-option *ngFor="let option of this.areafeatures" [value]="option">{{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>
            <div *ngIf="this.dataintend=='dataupload'">
                <h3><strong>1. Raumeinheit auswählen</strong><span *ngIf="this.uploadarea">
                        <mat-icon color="primary">check_circle</mat-icon>
                    </span></h3>
                <p *ngIf="!this.uploadarea">
                    <mat-form-field appearance="outline" *ngIf="true">
                        <mat-label>Raumeinheit</mat-label>
                        <mat-select [(value)]="this.uploadarea">
                            <mat-option *ngFor="let option of this.areavalues" [value]="option">{{option}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
            </div>
            <div *ngIf="this.dataintend=='dataupload' && this.uploadarea">

                <h3><strong>2. Referenzdatei herunterladen</strong> <span *ngIf="this.adddatarefdata">
                        <mat-icon color="primary">check_circle</mat-icon>
                    </span> </h3>
                <p *ngIf="!this.adddatarefdata">
                    <a mat-raised-button color="primary" (click)="this.refdatadownload()">Referenzdatei</a>
                </p>
                <p>Bitte fügen Sie dieser Referenzdatei im csv-Datei bitte neue einheitlich benannte Spalten hinzu.
                    Ändern Sie bitte weder die Zeilenanzahl noch die Formatierung der Datei (Trennzeichen
                    <code>,</code> und Dezimalzahlen mit Trennzeichen <code>.</code> und ohne Zeichen für große Zahlen bspqw. <code>10000.23</code>) noch die Kodierung der Datei (UTF-8). Zahlenspalten sollten als Zahlen ohne
                    umgebende Anführungszeichen eingefügt werden.</p>
            </div>

            <div *ngIf="this.dataintend=='dataupload' && this.adddatarefdata" fxLayout="column">
                <div fxFlex=100>
                    <h3><strong>3. Neue Daten hochladen</strong> <span *ngIf="this.datafile">
                            <mat-icon color="primary">check_circle</mat-icon>
                        </span></h3>
                    <p>Bitte fügen Sie neue Daten als neue Spalten in der Tabelle ein. Bitte geben sie den Spalten neue, sprechende Namen. Bestehende Spalten dürfen nicht verändert werden.</p>

                </div>
                <div *ngIf="!this.datafile" fxFlex=100>

                    <input type="file" accept='.csv' style="display: none"
                        (change)="this.datafile=this.changeListenerDataUpload($event);" #dataInput>
                    <br><br>
                    <button mat-raised-button color="primary" (click)="dataInput.click()">Daten
                        auswählen</button>
                </div>
            </div>
        </mat-card>
        <mat-card *ngIf="this.metadatafile && this.dataintend=='dataupload'">
            <div>
                <h3><strong>4. Daten beschreiben</strong><span *ngIf="this.metadone">
                        <mat-icon color="primary">check_circle</mat-icon>
                    </span></h3>
                <ng-container *ngIf="!this.metadone">
                <p>Bitte prüfen Sie die Zuordnung sorgfältig.</p>
                <p>Der <strong>Name</strong> der hinzugefügten Merkmale wird den Nutzern angezeigt.</p>
                <p>Das <strong>Thema</strong> sortiert die Merkmale entweder den Gesundheitsoutcomes ("outcomes") oder den (sozialen) Determinanten ('demography') der Gesundheit zu.</p>
                <p>Der <strong>Typ</strong> bestimmt die Anzeige der Inhalte. Der Typ "rate" kennzeichnet Prozentwerte 
                    (Zellinhalt=<code>0.012</code> für 1,2%) und der Typ "number" andere Ganz- und Dezimalzahlen 
                    (Zellinhalt=<code>1.2</code> für "1,2", Zellinhalt=<code>10001</code> für "10.001").</p>
                <p>Die Veröffentlichung der hochgeladenen Merkmale und das Hinzufügen einer Indikatorenbeschreibung sind optional.</p>
            </ng-container>
            </div>
            <div *ngIf="(this.datacheck.length>0)">
                <mat-list>
                    <h3 matSubheader><strong>Gefundene Fehler:</strong></h3>
                    <mat-list-item *ngFor="let hinweis of this.datacheck">
                        <mat-icon color="primary" mat-list-icon>error</mat-icon>
                        <div mat-line><span class="primarycolor">{{hinweis}}</span></div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="smalltab" *ngIf="this.metadatafile && !this.metadone" fxflex=100>

                <div class="tabheader" fxLayout="row wrap" fxLayoutGap="10px">
                    <div fxFlex=15>Name</div>
                    <div fxFlex=20>Thema</div>
                    <div fxFlex=20>Typ</div>
                    <!-- <div fxFlex>Referenzkategorie</div> -->
                    <div fxFlex></div>

                </div>

                <div class="tabvalues primarycolor" *ngFor="let row of this.metadatafile" fxLayout="row wrap"
                    fxLayoutGap="10px">
                    <div fxFlex=15><br>{{row.varname}}</div>
                    <div fxFlex=20>
                        <mat-form-field appearance="outline" *ngIf="true">
                            <mat-label>Bereich</mat-label>
                            <mat-select [(value)]="row.topic" (selectionChange)="this.checkmetadata()">
                                <mat-option *ngFor="let option of topicoptions" [value]="option">{{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex=20>
                        <mat-form-field appearance="outline" *ngIf="true">
                            <mat-label>Art</mat-label>
                            <mat-select [(value)]="row.type" (selectionChange)="this.checkmetadata()">
                                <mat-option *ngFor="let option of this.typeoptions" [value]="option">{{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div fxFlex>
                        <ng-container *ngIf="['ordering','subgroups'].indexOf(row.topic)>=0">
                            <mat-form-field appearance="outline" *ngIf="true">
                                <mat-label>Referenzkategorie</mat-label>
                                <mat-select [(value)]="row.allforlevel" (selectionChange)="this.checkmetadata()">
                                    <mat-option *ngFor="let option of this.getrefvalues(row.varname)" [value]="option">
                                        {{option}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" *ngIf="row.type=='level'">
                                <mat-label>Öffentliche Raumebenen</mat-label>
                                <mat-select [(value)]="row.publiclevels" (selectionChange)="this.checkmetadata()"
                                    multiple>
                                    <mat-option *ngFor="let option of this.getrefvalues(row.varname)" [value]="option">
                                        {{option}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngIf="['ordering','subgroups'].indexOf(row.topic)<0">

                        </ng-container>

                    </div> -->
                    <div fxFlex>
                        <mat-chip-list >
                            <mat-chip color="primary" (change)="this.checkmetadata()" [selected]="row.public"
                                (click)="row.public=!row.public">
                                <span *ngIf="row.public">Öffentlich</span>
                                <span *ngIf="!row.public">Privat</span>
                            </mat-chip>
                            <mat-chip color="primary" [selected]="row.adddescr" (click)="row.adddescr=!row.adddescr">
                                Beschreibung hinzufügen
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <div *ngIf="row.adddescr" fxFlex=100>
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Indikatorenbeschreibung</mat-label>
                            <textarea style="color:black" [(ngModel)]="row.description" matInput rows="10"
                                cols="40"></textarea>
                        </mat-form-field>

                    </div>
                </div>
                <div>
                    <div><button mat-raised-button [disabled]="!(this.datacheck.length==0)" (click)="this.metadone=true"
                            color="accent">Beschreibung fertig</button></div>
                </div>

            </div>
        </mat-card>      
        <div class="add-margin" fxLayoutAlign="space-between" >
         <!-- *ngIf="(!this.uploadres || this.uploadres=='error')"-->

            <div><button mat-raised-button (click)="uploadnewdata()"
                    [disabled]="(!this.metadone) && (!this.uploadareaid)" color="accent">Hinzufügen
                </button></div>
            <div><button mat-raised-button (click)="this.resetall();" color="primary">Abbrechen</button></div>
        </div>
        <div *ngIf="this.uploadres">
            <mat-card>
                <h1>Datenupload</h1>
                <mat-spinner *ngIf="this.uploadres=='pending'" [diameter]="50"></mat-spinner>
                <p *ngIf="this.uploadres=='pending'">Hinweis: Bitte haben Sie Geduld: Es kann etwas dauern, wenn viele
                    Daten aktualisiert werden müssen.</p>
                <p *ngIf="this.uploadres=='success'">
                    <strong>Upload erfolgreich!</strong>
                </p>
                <p *ngIf="this.uploadres=='error'">
                    <strong>Fehler beim Upload</strong> Fehlermeldung: <span
                        class="primarycolor">{{this.uploaderror['detail']}}</span>
                </p>
            </mat-card>
        </div>
    </div>

</div>