
.tabheader {

    font-weight: bold;
    margin-bottom: 1.2rem;
    border-bottom: 1px;
    border-color: darkgray;
}

.smalltab {
    font-size: .9rem;
    line-height: .9rem;
    background-color:white;
    padding: 1.2em;
    border-radius: 15px;
}

.tabvalues {
    font-weight: bold;
}

.mat-form-field {
    font-weight: bold;
    
}
textarea
{
  width:100%;
}